# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
release-pom.xml

# Eclipse
.classpath
.project
.settings/
.buildpath
.metadata/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Compiled class files
*.class

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar


# Environment variables
.env

# IDE-specific files
*.swp
*~
.#*
.bak
*.orig
*.rej

# Database files
*.mv.db # H2 database files
*.trace.db # H2 trace files

# Maven Wrapper
.mvn/
mvnw
mvnw.cmd
